
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,700,300);
header {
  height: 400px; 
  width: 100%; /* Ensures the header spans the full width of the viewport */
  background: #72949c url(../images/header.jpg) no-repeat center bottom; 
  position: relative;
  background-size: cover; /* Scales the image proportionally to cover the area */
  background-position: center; 
}

/* Body */
body {
color: rgb(44, 42, 42); 
  height: 100%; 
  width: 100%;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 14px;  
background-color:rgb(244, 245, 247);
letter-spacing: 2px;font-weight: 300; 
margin: 0; 
padding: 0;
align-items: center;
}
.search-form input {
  inset-block-start: 0px;
  inset-inline-start: 0px;
  inset-inline-end:10px;
  width: 100%;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}
.logo {
  justify-content: center;
  display:flex;
  width: 80px;
  height: 69px; /* Adjust height as needed */
  padding-left: 5%;
  padding-right: 15%;
  padding-inline:15%;
  padding-bottom: 15%;
  padding-top: 5%;
  position: static; /* Default positioning */
  background: url(../images/logo.svg) no-repeat left;
  background-size: contain;
}
 
button {
  background-color: #9fa2b2;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}
/* Default styling for smaller screens */
.navbar {
    display: flex;
    text-align: center;
    background-color: #5c6275;
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.navbar a {
  display: inline-flex;
  align-content: flex-start;
    color: rgb(255, 255, 255);
    row-gap: 20px;
    padding-top: 15%;
    padding-left: 15%;
    padding-right: 15%;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}
.navbar a:hover {
    background-color: #ac9a8e;
    color: black;
}
.navbar .menu {
    display: none;
    flex-direction: column;
}
.navbar .menu a {
    padding: 10px;
    color: rgb(247, 247, 247);
    border-top: 1px solid #444;
}
.navbar .toggle {
    cursor: pointer;
    font-size: 40px;
    color: white;
    font-display:inherit;
}
@media (min-width: 600px) {
    .navbar .menu {
        display: flex;
        flex-direction: row;
    }
    .navbar .toggle {
        display: none;
    }
    
}
.search-form input {
  display: fixed;;
  padding: 10px;
  padding-right: 10%;
  align-items: right;
  border-radius: 15px;
  border: 1px solid #ccc;
}

main {
  float: left;
  width: 60%; /* The width is 60%, by default */
  width: 100%;
}
h1 {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  color: black;
  font-family:"Times New Roman", Times, serif;
}
h2 {
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  color: black;
  font-family:"Times New Roman", Times, serif;
}
h3 {
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  color: black;
  font-family:"Times New Roman", Times, serif;
}
h4 {
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  color: black;
  font-family:"Times New Roman", Times, serif;
}

/* Section */
section
{
 align-items: right;
 background-color: rgb(239, 238, 238);
 width: 100%;
 font-size: larger;
 text-align: left;
 padding: 1em 0;
}
.img{
  align-items: center;
  padding: 0;
  width: 100%;
  height: auto;
  padding: 0px 10px 0px 10px;
}
ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
li { float: left; 
list-style-type: none;}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: rgb(77, 47, 47);
}

.container img{
max-width: 100%;
transform-origin: center;
transform: scale(var(--img-scale));
transition: transform 0.4s ease-in-out;
border-radius: 16px;
}
/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* carousel */
.container {
  padding: 2px 16px;
  
}
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}


* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}


.carousel {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 80%;
  background: #d1ebe5;
 counter-increment: item;
}

.carousel__slide:nth-child(even) {
  background-color: #d1ebe5;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 5s;
    animation-iteration-count: inherit;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}


/* article */
article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #d6e8e4;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

/* basic article elements styling */
article h2 {
  margin: 0 0 18px 0;
  font-family: "Bebas Neue", cursive;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 16px;
  padding: 15px;
  aspect-ratio: 15/8;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
  border-radius: 16%;
}

.article-body {
  padding: 24px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
}

article a:focus {
  outline: 1px dotted #28666e;
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


/************************ 
Generic layout styles
**************************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}


@media only screen and (max-width: 1200px) {
  article {
    container: card/inline-size;
  }
  .article-body p {
    display: 10px;
  }
  .logo {
    display: smaller;
  }
}
/* Use a media query to add a breakpoint at 600px: */
@media only screen and (max-width: 600px) {
  body {
    background-color: rgb(171, 182, 192);
    h1{ font-size: medium;}
    h2{ font-size: medium;}
    h3{ font-size: medium;}
    h4{ font-size: medium;}
    p{ font-size: medium;}
 .nav, .menu {
  display: smaller;
  justify-content: left;
  align-items: left;
  font-size: smaller;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0;
  background-color: #5c6275;
  color: white;
}
        .logo {
          display: smaller;
        }
         
  }
}
p { 
    margin: 1em ; 
    text-align: center; 
    color: black;
  font-size: 1em;
    font-family:"Times New Roman", Times, serif;
    font-weight: 700;
  letter-spacing: 1px;
  }
 


/* Add some padding inside the card container */
.flex-container {
  padding: 2px 16px;
  flex-wrap:wrap;
text-align: left;
  align-items: center;
}


@container card (min-width: 380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }
  .article-body {
    padding-left: 0px;
  }
  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

/* Container holding the image and the text */

.container-grid {
  background-color: rgba(200, 213, 194, 0.841);
  padding: 10px;
}

.container-grid  > div {
  background-color: #b6d7a9;
  color: #000;
  padding: 10px;
  font-size: 15px;
  text-align: center;
}
/* Footer a */
footer {
  margin-top: 1rem;
  margin-bottom: auto;
  padding-left: 0.0px;
  background-color: #d9dadcbb;
  color: rgb(242, 242, 242);
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  text-align: center;
}

/* Social */
.social, .contactInfo {
  color: #342f2f;
  background-color: #dedfe1;
  padding:0;
  text-align: center;
}
  /* Contact form */
.form {
  display: inline-block;
  background-color:  rgb(204, 202, 199);
  color: #3c3535;
  padding: 1rem 1rem 2rem;
}

.form p {
  font-weight: 300;
  padding-bottom: 0rem;
  color: #fbfbfb;
}



@media screen and (max-width: 1000px) {
  footer {
    background-color: beige;
      display: block;
    }
    
    footer .form {
      display: block;
      align-items: center;
    }
    footer .social {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }
  
  }

